:root{
    --ClearText: whitesmoke;
    --DBlue: #406a91;
    --Dark: rgb (29,26,26)
    --CBlue: #92ccce;
}
* {
    box-sizing: border-box;
    font-size: 30px;
    font-family: Times New Roman, Times, serif;
}
h1{
    font-size: 100px;
    color: var var(--ClearText);
    margin-bottom: 8%;
}  

h2{
    font-size: 20px;
    color: var var(--DBlue);
    margin-bottom: 5%;
}  
.container {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: center;
    }

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.text-center{
    text-align: center;
}
.hidden{
    display: none;
}
.btn{
    align-items: flex-center;
    font-size: 25px;
    padding: 2% 2% 2% 2%;
    width: 50%;
    text-align: center;
    margin-bottom: 2%;
    color: var(--ClearText);
    background-color: var(--DBlue);
    border-radius: 5%;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 0 var(--Dark);
    transition: transform 150ms;
    transform: scale(1.2);
}
.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    margin-bottom: 5%;
}

input{
    width: 50%;
    margin-bottom: 2%;
    padding: 2%;
    font-size: 30px;
}
input::placeholder{
    color: var(--DBlue)
}

#username {
    margin-bottom: 5%;
    width: 100%;
    outline: none;   
}


@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      min-width: 40rem;
    }
  }
/*Foot of page - personal menssage */
    .footer {
        margin-bottom: 5px;
        padding: 3%;
        clear: both;
        font-family: Times New Roman, Times, serif;
        text-align: center;
        font-size: 15px;
    }
    .footer h2 {
        font-size: 25px;
        margin-bottom: 1%;
    }