:root{
    --ClearText: whitesmoke;
    --DBlue: #406a91;
    --Dark: rgb (29,26,26)
    --CBlue: #92ccce;
}
* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: Times New Roman, Times, serif;
}
body {
background-color: var(--ClearText);
}

#row1 {
    padding: 10px;
}

#row2 {
    justify-content: center;
}

.col-3 {
    color: var(--ClearText);
    text-align: center;
}

#highScore {
    color: var(--DBlue);
}

.display-3 {
    text-align: center;
    margin-top: -50px;
}

.lead {
    text-align: center;
}

.jumbotron {
    background-color: var(--DBlue);
    height: 270px;
}

.buttonRow {
    justify-content: center;
    padding: 5px;
}

.card {
    background-color: var(--DBlue);
}

img {
    width: 450px;
}

.col-4 {
    text-align: -webkit-center;
}

#questionsCard {
    display: none;
}

#answerIncorrect {
    font-size: xx-large;
}

#buttonInitials {
    display: none;
}

#inlineFormInput {
    display: none;
    width: 30%;
}

/* highScores HTML */

#highRow {
    padding: 10px;
}

#javaquiz {
    color: var(--DBlue);
}

#header {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    background-color:var(--Dark);
}

/* Media query */

@media (max-width: 1148px){
    #imageMedia {
        display: none;
    }
}

@media (max-width: 1206px){
    #imagenDisplay {
        display: none;
    }

}

@media (max-width: 830px) {
    .display-3 {
        font-size: 350%;
        margin-top: 1px;
    }
    .jumbotron {
        height: 100%;
    }
    #imagen1 {
        float: right;
    }
    #cardMedia {
        float: right;
    }
}
/*Foot of page - personal menssage */
.footer {
    text-align: center;
    clear: both;
    text-align: center;
    font-size: 15px;
}
.footer h2 {
    font-size: 20px;
}
