:root{
    --ClearText: whitesmoke;
    --DBlue: #406a91;
    --Dark: #31343D;
    --CBlue: #92ccce;
}
.header {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        font-size: 100px;
        padding: 10px 10px;
        background-color: var(--Dark);
        color:var(--ClearText);
    }
    /*Header in line to call Work boxes*/
    
    .header h1 {
        font-size: 110px; 
        align-items: center;
        font-family: Times New Roman, Times, serif;
        color: red;
        }

    h2 {
    font-size: 110px; 
    align-items: center;
    font-family: Times New Roman, Times, serif;
    color: red;

    @media screen and (max-width: 768px) {
      body,
      nav {
      flex-direction: row;
      }
    }


/*Foot of page - personal menssage */
    .footer {
        margin-bottom: 20px;
        padding: 30px;
        clear: both;
        font-family: Times New Roman, Times, serif;
        text-align: center;
    }
    .footer h2 {
        font-size: 25px;
    }